<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog List</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">All Blog Posts</h1>

        <div class="list-group">
            {% for post in posts %}
                <a href="{% url 'blog_detail' slug=post.slug %}" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <p class="mb-1">{{ post.heading }}</p>
                    <small>Posted on: {{ post.created_at|date:"F j, Y" }}</small>
                </a>
            {% empty %}
                <li class="list-group-item">No blog posts available.</li>
            {% endfor %}
        </div>

        <div class="text-center mt-4">
            <a href="{% url 'blog_list' %}" class="btn btn-primary">Back to Home</a>
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> -->
